.post-content {
    padding-top: 60px;
}

.post #contents-in {
    word-break: break-all;
    display: none;
}


.post #contents-out {
    word-break: break-all;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-photo {
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
}

.comment-form textarea {
    width: 100%;
    resize: none;

}

.comment-header {
    display: flex;
    margin-bottom: 5px;
}

.foo {
    margin-top: 20px;
    margin-bottom: 30px;
}

#id_comment {
    border: 1px solid #dfdfdf;
}

.sub-button {
    margin-left: 10px;
}

#create-button {
    height: 78px;
}

.comment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment ul li p {
    margin-bottom: 0px;
}

.errorlist, .comment-form label{
    display: none;
}