.post-content {
    padding-top: 60px;
}

.row {
    padding-top: 60px;
}

#id_text {
    border: 1px solid #dfdfdf;
}

.sub-button{
    display: flex;
    float: right;
}

.sub-button .save-button{
    margin-left: 20px;
}