{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'blog/base.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_form.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_list.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA04wgaatEvDxFzqUb9YnhmnLkC2bM1Sgc" type="text/javascript"></script>
        <meta property="og:title" content="상상의 박나래를 펼쳐라">
        <meta property="og:image" content="{% static 'img/logo-share.png' %}">
        <meta property="og:description" content="익명의 유저들이 자유롭게 소통하는 공간입니다.">
        <title>상상의 박나래를 펼쳐라</title>
    </head>
    <body>
        <div class="page-header">
            <div class="area_logo">
                <a href="{% url 'post_list' %}">
                    <img class="logo" src="{% static 'img/logo.png' %}"/>
                </a>
                <a href="{% url 'post_new' %}" class="top-menu">
                    <div class="posting">
                        <i class="far fa-edit" style="width:30px;"></i>
                    </div>
                </a>
                <a href="{% url 'map_detail' %}" class="top-menu">
                    <div class="maps">
                        <i class="fas fa-map-marked-alt" style="width:28px;"></i>
                    </div>
                </a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="page-footer">
            <div class="footer" style="margin-top:80px;">
            </div>
        </div>
    </body>
</html>