{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'blog/base.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_form.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_list.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ GOOGLE_MAP_API }}" type="text/javascript"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <meta property="og:title" content="상상의 박나래를 펼쳐라">
        <meta property="og:image" content="{% static 'img/logo-share.png' %}">
        <meta property="og:description" content="익명의 유저들이 자유롭게 소통하는 공간입니다.">
        <title>상상의 박나래를 펼쳐라</title>
    </head>
    <body>
        <div class="page-header">
            <div class="area_logo">
                <a href="{% url 'map_detail' %}">
                    <img class="logo" src="{% static 'img/logo.png' %}"/>
                </a>
                <a href="{% url 'map_new' %}" class="top-menu">
                    <div class="posting">
                        <i class="far fa-edit" style="width:30px;"></i>
                    </div>
                </a>
                <a href="{% url 'post_list' %}" class="top-menu">
                    <div class="maps">
                        <i class="fas fa-list-ul" style="padding-top:1.3px; width:26px;"></i>
                    </div>
                </a>
            </div>
        </div>
        {% if request.get_full_path == "/maps/new/" %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content_form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="map_detail" style="padding-top: 80px; height:100%">
                {% block content_detail %}
                {% endblock %}
            </div>
        {% endif %}
    </body>
</html>