{% extends 'blog/base.html' %}

{% block content %}
    {% for post in qs %}
        <div class="post">
            <div class="date">
                {% if post.published_date %}
                    <p>작성일: {{ post.published_date }} (수정됨)</p>
                {% else %}
                    <p>작성일: {{ post.created_date }}</p>
                {% endif %}
            </div>
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}