{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    <div class="date">
        {% if post.published_at %}
        <p>{{ post.author }} | {{ post.published_at }} (수정됨)</p>
        {% else %}
        <p>{{ post.author }} | {{ post.created_at | date:"Y.m.d" }}</p>
        {% endif %}
    </div>

    <h1>{{ post.title }}</h1>

    {% if post.photo %}
        <div class="post-photo">
            <img src="{{ post.photo.url }}" style="max-width:100%"/>
        </div>
    {% endif %}

    <div id="contents-in">{{ post.text }}</div>
    <div id="contents-out"></div>
</div>

<hr/>

<div class="foo">
    <h4>댓글 남기기</h4>
    <form class="comment-form" action="{% url 'post_detail' post.pk %}" method="post">
        {% csrf_token %}
        <div class="comment-header">
            {{ comment_form.as_table }}
            <div class="sub-button">
                <button type="submit" class="btn btn-primary btn-sm" id="create-button">작성하기</button>
            </div>
        </div>
    </form>
</div>

<hr/>

<div class="comment">
    <h4>남겨진 댓글 ({{ post.comment_set.all.count }}개)</h4>
    {% if post.comment_set.all %}
    {% for i in post.comment_set.all %}
    <ul>
        <li>
            <p>{{ i.comment | urlize }}</p>
            <small>{{i.author}} | {{ i.created_at | date:"Y.m.d" }}</small>
        </li>
    </ul>
    {% endfor %}

    {% else %}
    <small>등록된 댓글이 없습니다.</small>
    {% endif %}
</div>

<hr/>

{% endblock %}