{% extends 'blog/base.html' %}
{% block content %}
    <h1>게시글 작성</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="sub-button">
            <div class="cancle-button">
                <a href="{% url 'post_list' %}"><button type="button" class="cancle btn btn-default">취소하기</button></a>
            </div>
            <div class="save-button">
                <button type="submit" class="save btn btn-primary">저장하기</button>
            </div>
        </div>
    </form>
{% endblock %}